body {
    background-image: url(png/background.png);
}
.p {
    font: italic 1.2em "Fira Sans", serif;
}

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline: 0;
  box-shadow:none;
  border:0!important;
  background: #ffffff;
  background-image: none;
  flex: 1;
  padding: 0.7em;
  color:#000000;
  cursor:pointer;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 15em;
  height: 2em;
  line-height: 2;
  background: #b4b4b4;
  overflow: hidden;
  border: 1em;
  border-radius: 3em;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #b4b4b4;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: #2EE59D;
}

input,
label {
  border-radius: 3em;
}

input,label :focus{
  border-color: #2EE59D;
}

button {
  text-decoration: none;
  display: inline-block;
  width: 100px;
  height: 50px;
  margin-top: 60px;
  margin-bottom: 20px;
  border-radius: 45px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

button:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}